name: CI for PR

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Устанавливаем Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # 3. Устанавливаем зависимости
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install ruff

      # 4. Запускаем unit-тесты
      - name: Run Unit Tests
        run: |
          # Здесь пример для pytest
          pytest tests/

      # 5. Запускаем Ruff
      - name: Run Ruff
        run: |
          ruff . --exit-zero
